@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.eot");
  src: url("../fonts/helvetica.woff2") format("woff2"),url("../fonts/helvetica.woff") format("woff"),url("../fonts/helvetica.ttf") format("truetype"),url("../fonts/helvetica.svg#gillsans") format("svg"),url("../fonts/helvetica.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 16px/1 'Arial, Helvetica, sans-serif';
  color: #000;
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header {
  float: left;
  width: 100%;
}

.headerTitle {
  text-align: center;
}

.mainContainer {
  float: left;
  width: 100%;
}

.selectDrop {
  float: left;
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.selectDrop__container {
  display: inline-block;
  width: 300px;
  border: 1px solid #000;
  position: relative;
}

.selectDrop__searchArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #666666;
  outline: none;
}

.selectDrop__dropContainer {
  float: left;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  display: none;
}

.selectDrop__searchBox {
  width: 100%;
  padding: 10px;
  border: 1px solid #666666;
  outline: none;
}

.selectDrop__listHead {
  padding: 0;
  display: block;
  margin: 0;
}

.selectDrop__list {
  list-style: none;
  text-align: left;
  padding: 10px;
  float: left;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #CCC;
}

.slider {
  float: left;
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.slider__container {
  float: left;
  width: 100%;
}

.slider__containerInner {
  float: left;
  width: 100%;
  position: relative;
}

.slider__listHead {
  float: left;
  width: 100%;
}

.slider__list {
  display: none;
  list-style: none;
}

.slider__list:first-child {
  display: inline-block;
}

.slider__leftArrow {
  position: absolute;
  left: 0;
  top: 50%;
  background: #FF0000;
  color: #FFF;
  border: 1px solid #CCCCCC;
  width: 100px;
  padding: 10px 0;
  outline: none;
}

.slider__rightArrow {
  position: absolute;
  right: 0;
  top: 50%;
  background: #FF0000;
  color: #FFF;
  border: 1px solid #CCCCCC;
  width: 100px;
  padding: 10px 0;
  outline: none;
}

.slider__dots {
  float: left;
  width: 100%;
}

.slider__dotsListHead {
  padding: 0;
}

.slider__dotsList {
  display: inline-block;
  font-size: 50px;
  padding: 10px;
  -webkit-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.slider__dotsList--active {
  border: 2px solid #000;
}

.string {
  float: left;
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.string__container {
  float: left;
  width: 100%;
}

.string__containerInner {
  float: left;
  width: 100%;
}

.string__inputContainer {
  display: inline-block;
  width: 400px;
  padding: 20px 0;
}

.string__input {
  padding: 10px;
  width: 100%;
  border: 1px solid #CCC;
  outline: none;
}

.string__input:focus {
  background: #CCCCCC;
}

.string__resultContainer .string__input {
  width: 6.66667%;
}

.socialFunctions {
  float: left;
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.socialFunctions__commentGet,
.socialFunctions__commentShow {
  width: 38%;
  display: block;
  margin: 20px auto;
  overflow: hidden;
}

.socialFunctions__commentId {
  width: 75%;
  padding: 10px;
  border: 1px solid #CCC;
  margin-bottom: 15px;
  outline: none;
}

.socialFunctions__commentId:focus {
  background: #CCC;
}

.socialFunctions__commentBox {
  width: 75%;
  height: 200px;
  padding: 10px;
  border: 1px solid #CCC;
  outline: none;
  margin-bottom: 10px;
}

.socialFunctions__commentBox:focus {
  background: #CCC;
}

.socialFunctions__commentShow {
  margin-bottom: 10px;
}

.socialFunctions__commentIdShow {
  float: left;
  width: 20%;
}

.socialFunctions__commentIdValue {
  font-size: 22px;
  text-align: left;
  margin: 0;
}

.socialFunctions__commentTextBox {
  float: left;
  width: 80%;
}

.socialFunctions__CommentBoxContent {
  text-align: left;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  width: 100%;
  border: transparent;
  resize: none;
  outline: none;
}

.socialFunctions__commentSubmit,
.socialFunctions__commentDiscard {
  width: 30%;
  margin-bottom: 15px;
  padding: 10px;
  background: #666666;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}

.socialFunctions__commentSubmit:focus,
.socialFunctions__commentDiscard:focus {
  background: #509822;
  outline: none;
}

.socialFunctions__options {
  width: 100%;
  float: left;
  text-align: right;
}