//Home
header {
    float: left;
    width: 100%;
}

.headerTitle {
    text-align: center;
}

.mainContainer {
    float: left;
    width: 100%;
}

.selectDrop {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5% 0;
    // background: $sec-chk;
    &__container {
        display: inline-block;
        width: 300px;
        border: 1px solid #000;
        position: relative;
    }
    &__searchArea {
        width: 100%;
        padding: 10px;
        border: 1px solid #666666;
        outline: none;
    }
    &__dropContainer {
        float: left;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #000;
        display: none;
    }
    &__searchBox {
        width: 100%;
        padding: 10px;
        border: 1px solid #666666;
        outline: none;
    }
    &__listHead {
        padding: 0;
        display: block;
        margin: 0;
    }
    &__list {
        list-style: none;
        text-align: left;
        padding: 10px;
        float: left;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #CCC;
    }
}

//Slider
.slider {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5% 0;
    &__container {
        float: left;
        width: 100%;
    }
    &__containerInner {
        float: left;
        width: 100%;
        position: relative;
    }
    &__listHead {
        float: left;
        width: 100%;
    }
    &__list {
        display: none;
        list-style: none;
        &:first-child {
            display: inline-block;
        }
    }
    &__leftArrow {
        position: absolute;
        left: 0;
        top: 50%;
        background: #FF0000;
        color: #FFF;
        border: 1px solid #CCCCCC;
        width: 100px;
        padding: 10px 0;
        outline: none;
    }
    &__rightArrow {
        position: absolute;
        right: 0;
        top: 50%;
        background: #FF0000;
        color: #FFF;
        border: 1px solid #CCCCCC;
        width: 100px;
        padding: 10px 0;
        outline: none;
    }
    &__dots {
        float: left;
        width: 100%;
    }
    &__dotsListHead {
        padding: 0;
    }
    &__dotsList {
        display: inline-block;
        font-size: 50px;
        padding: 10px;
        transition: all 2s ease-in-out;
        &--active {
            border: 2px solid #000;
        }
    }
}

//String
.string {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5% 0;
    &__container {
        float: left;
        width: 100%;
    }
    &__containerInner {
        float: left;
        width: 100%;
    }
    &__inputContainer {
        display: inline-block;
        width: 400px;
        padding: 20px 0;
    }
    &__input {
        padding: 10px;
        width: 100%;
        border: 1px solid #CCC;
        outline: none;
        &:focus {
            background: #CCCCCC;
        }
    }
    &__resultContainer {
        .string {
            &__input {
                width: (20%/3);
            }
        }
    }
}

//Social Functionalities
.socialFunctions {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5% 0;
    &__commentGet {
        width: 38%;
        display: block;
        margin: 20px auto;
        overflow: hidden;
    }
    &__commentId {
        width: 75%;
        padding: 10px;
        border: 1px solid #CCC;
        margin-bottom: 15px;
        outline: none;
        &:focus {
            background: #CCC;
        }
    }
    &__commentBox {
        width: 75%;
        height: 200px;
        padding: 10px;
        border: 1px solid #CCC;
        outline: none;
        margin-bottom: 10px;
        &:focus {
            background: #CCC;
        }
    }
    &__commentShow {
        @extend .socialFunctions__commentGet;
        margin-bottom: 10px;
    }
    &__commentIdShow {
        float: left;
        width: 20%;
    }
    &__commentIdValue {
        font-size: 22px;
        text-align: left;
        margin: 0;
    }
    &__commentTextBox {
        float: left;
        width: 80%;
    }
    &__CommentBoxContent {
        text-align: left;
        margin: 0;
        font-size: 14px;
        line-height: 26px;
        width: 100%;
        border: transparent;
        resize: none;
        outline: none;
    }
    &__commentSubmit,
    &__commentDiscard {
        width: 30%;
        margin-bottom: 15px;
        padding: 10px;
        background: #666666;
        color: #FFFFFF;
        border: 1px solid #CCCCCC;
        cursor: pointer;
        &:focus {
            background: #509822;
            outline: none;
        }
    }
    &__options {
        width: 100%;
        float: left;
        text-align: right;
    }
}