<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if IE 10]> <html lang="en" class="no-js ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--Title-->
    <title>@@title</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Project: Description">
    <meta name="keywords" content="Project: Keywords">
    <meta name="author" content="Rage 5.0">
    <meta name="copyright" content="&copy; Project 2017">
    <meta name="robot" content="noindex, nofollow">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!--Css-->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--[if lte IE 9]>
        <script src="assets/js/polyfill.js"></script>
    <![endif]-->
</head>